hl{

    font-family: Helvetica, sans-serif;
font-size: 80px;
}


body{
    background-color: rgb(216, 255, 255);
    
}

p{
font-family: Helvetica, sans-serif;

}
.buttons{

display:flex;
justify-content: center;

}

button{

width:150px;
height: 110px;
border-width: 10px;
border-radius: 50px;
font-family: fantasy;
font-weight: bold;
background-color: rgb(255, 223, 163);

}