hl{

    font-family: Helvetica, sans-serif;
font-size: 80px;
}


body{

    background-color: rgb(216, 255, 255);

    
}

.buttons{

display:flex;
justify-content: center;

}

button{

width:100px;
height: 80px;
border-width: 5px;
border-radius: 50px;
font-family: fantasy;
font-weight: bold;
background-color: rgb(255, 223, 163);

}