hl{

    font-family: Helvetica, sans-serif;

}


body{

    background-color: aqua;
}

#buttons{

display:flex;
justify-content: center;

}

button{

width:200px;
height: 100px;
border-width: 5px;
border-radius: 20px;
font-family: fantasy;
font-weight: bold;

}